.close-pane {
  color: #818a91 !important; }

.close-pane:hover {
  color: #d9534f !important; }

.edit-pane {
  color: #5cb85c !important; }

.edit-pane:hover {
  color: #f0ad4e !important; }




//  BOOTSTRAP TEXT COLOR PALETTE
// .text-muted {
//   color: #818a91 !important; }

// a.text-muted:focus, a.text-muted:hover {
//   color: #687077 !important; }

// .text-primary {
//   color: #0275d8 !important; }

// a.text-primary:focus, a.text-primary:hover {
//   color: #025aa5 !important; }

// .text-success {
//   color: #5cb85c !important; }

// a.text-success:focus, a.text-success:hover {
//   color: #449d44 !important; }

// .text-info {
//   color: #5bc0de !important; }

// a.text-info:focus, a.text-info:hover {
//   color: #31b0d5 !important; }

// .text-warning {
//   color: #f0ad4e !important; }

// a.text-warning:focus, a.text-warning:hover {
//   color: #ec971f !important; }

// .text-danger {
//   color: #d9534f !important; }

// a.text-danger:focus, a.text-danger:hover {
//   color: #c9302c !important; }