#hero {
  background-image: url("../images/demo.jpeg");
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0.3rem;
}

.jumbo-bg {
  border-radius: 0.3rem;
  background: rgb(232, 252, 194);
  background: rgba(232, 252, 194, 0.50);
}

