#hero {
  background-image: url("../images/demo.jpeg");
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 0.3rem;
}

.jumbo-bg {
  border-radius: 0.3rem;
  color: #3c763d;
  background-color: #dff0d8;
}

